version: '3.5'
services:
    node:
        command: "yarn run dev"
        ports:
            - 127.0.0.1:3000:3000
            - 127.0.0.1:9229:9229
        volumes:
            - ./:/usr/src/app
    mongo:
        ports:
            - 127.0.0.1:27017:27017
    redis:
        ports:
            - 127.0.0.1:6379:6379
    redis-commander:
        environment:
            - REDIS_HOSTS=local:redis:6379
        ports:
            - 127.0.0.1:8081:8081
